body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar {
  color: #000000;
  background-color: #631199;
}

.nav {
  color : #FFFFFF;
  font: 20px;
}
